<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    </script>
</head>
<body>
<h2>
    <p class="my-5" sec:authorize="isAuthenticated()">
        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
    </p>
</h2>
<a th:href="@{/logout}" class="btn btn-primary">Logout</a></p>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.country}"></td>
        <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
        </td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-primary"><i
                class="fas fa-user-times ml-2"></i></a></td>
    </tr>
    </tbody>
</table>
<div th:text="${saveMsg}"></div>
<a th:href="@{/edit}">Go to next page</a>
</body>
</html>