<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/logout}" class="btn btn-primary">Logout</a></p>
<div class="container">
    <div class="row">
        <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" class="col-form-label">Username</label>
                    <input type="text" th:field="${user.username}" class="form-control" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="${user.username}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="country" class="col-form-label">Password</label>
                    <input type="text" th:field="*{password}" class="form-control" id="country" placeholder="Country">
                    <span th:if="${#fields.hasErrors('country')}" th:errors="*{password}" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="Add User">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>